body {
  padding: 0;
  font-family: sans-serif;
  background-color: #42A5F5;
  margin: 0 auto;
}

.container{
  width: 60%;
  text-align: center;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-top: 6%;
  border-radius: 10px;
}

.z-depth-1{
  display: inline-block; 
  padding: 32px 48px 0px 48px; 
  border: 1px solid #EEE;
}

.menu-conteudo{
  margin: 1%;
  padding-top: 20%;
  padding-bottom: 20%;
  border-bottom: 2px;
  border-color: #000000;
}

.select-wrapper input.select-dropdown {
  border-bottom: 1px solid #64b5f6;
  color: #64b5f6;
}

.dropdown-content li>a,
.dropdown-content li>span {
  color: #64b5f6;
}

.input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label,
    .input-field .prefix.active {
      color: #64b5f6;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid #64b5f6;
      box-shadow: none;
    }

    .picker__day--selected, 
    .picker__day--selected:hover, 
    .picker--focused 
    .picker__day--selected {
      background-color: #64b5f6;
      color: #ffffff;
  }

  .picker__day.picker__day--today {
    color: #64b5f6;
}

.picker__close, .picker__today{
  color: #64b5f6;
}
.picker__date-display{
  background-color: #64b5f6;
}

.picker__weekday-display{
  background-color: #1976d2;
}

button{
  margin: 5%; 
}